/**********************************************************************************General Section******************
*********************************************************/
*{
    margin:0;
    padding:0;
}
.pull-right{
    float: right
}
.pull-left{
    float: left;
}
.clearfix{
    clear:both;
}
.container{
    width:1500px;
    margin:0 auto;
    font-family: verdana,sans-serif;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.bottom-padding-75{
    padding-bottom: 75px;
}
.bottom-margin-60{
    margin-bottom: 60px;
}
.bottom-margin-100{
    margin-bottom: 100px;
}
.bottom-margin-18{
    margin-bottom: 18px;
}
.bottom-margin-30{
    margin-bottom: 30px;
}
.section-heading{
    text-align: left;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 25px;
}

.top-margin-20{
    margin-top: 20px;
}
.paragraph{
    text-align: justify;
}
.small-text{
    font-size: 15px;
}

/***********************************************************************************Menu bar************************
********************************************************/
.menu-container{
    background: #fff;
    height:55px;
    width: 100%;
    font-family: verdana,sans-serif;
    position: fixed;
    letter-spacing: 4px;
    box-sizing: border-box;
    text-align: center;
    line-height: 55px;
    z-index: 1;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.comp-name{
    height:25px;
    margin-left: 20px;
    color: #000;
    background: white;
    text-align: center;
    cursor: pointer;
    padding:8px 15px;
    font-size: 15px;
    margin-top: 10px;
}
.menu-item-container{
    margin-left: 0px;
}
.list{
    list-style-type: none;
    display: inline-block;
    margin-left: 0px !important;
}
.last-menu-item{
    margin-right: 40px;
}
.comp-name:hover{
    color: #000;
    background-color: #ccc;
}
.style-type{
    text-decoration: none;
    text-align: center;
}
.menu-items{
    display: inline-block;
    margin-left: 40px;
}
.content{
    line-height: 25px;
}
.bold{
    font-weight: 600;
}


/***************************************************************************image section***************************
*********************************************************/


.image-section{
    width: 100%;
    display: block;
}
.container .image-section .main-image-text{
    height:800px;
    width:100%;
    left:0px;
    top:20px;
    background: rgba(0,0,0,0.0);
    color:#fff;
    font-weight: 200;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: center;
}
.architect-name{
    letter-spacing: 3px;
    line-height: 800px;
    display: inline-block;
    font-size: 40px;
}
#pordfolio{
    padding:4px 15px;
    font-weight: 700;
    background: rgba(0,0,0,0.7);
}


/*******************************************************************************projects section********************
*********************************************************/

.project-section{
    width: 100%;
    margin-top: 790px;
}

.projects-collection{
    width:100%;
    background: #fff;
}
.project-card{
    width:23.9%;
    display: inline-block;
    background: #fff;
}
.left-margin{
        margin-left: 1%;
}
.card-image{
    width:100%;
}
#first-card{
    padding-left: 0px;
}
#last-card{
    padding-right: 0%;
}
.completed-project-name{
    left:0px;
    top:0px;
    background:#000;
    color:#fff;
    padding:10px 15px;
}

/****************************************************************About section****************
**********************************************/

.about-section{
    width:100%;
}
.team-data{
    text-align: left;
}
.project-card .team-data .member-name{
    font-size: 10px !important;
    margin:10px 0px !important;
    font-weight: 500px !importantmargin;
}

.contact-member{
    height: 40px;
    width:100%;
    line-height: 40px;
    text-align: center;
    background: #ddd;
    cursor: pointer;
}
.contact-member:hover{
    background: #ccc;
}
.contact-section{
    width:100%;
}
.input-data{
    display: block;
}
.accept-data{
    width:98%;
    padding:10px;
    margin-bottom: 15px;
}
.send-message{
    text-transform: uppercase;
    background: #000;
    color:#fff;
    padding:15px;
    display:inline-block;
    cursor: pointer;
}
.send-message:hover{
    background: #CCCCCC;
    color:#000;
}
.map-section{
    width:100%;
}

.map-image{
    width:100%;
    margin-bottom: 5px;
}

/***********************developed by section***********/
.developed-by{
    width:100%;
    height:80px;
    line-height: 80px;
    background: #000;
    color: #fff;
}
.developer{
    text-align: center;
}






